/* reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* make the app fullscreen */
body {
  margin: 0;
}

/* containter thing to make app full WIDTH and HEIGHT */
#root {
  width: 100%;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  overflow: auto;
}